@font-face          {
    font-family: "Shrikhand";
    src: url("../fonts/Shrikhand-Regular.ttf");
    font-family: Roboto;
    src: url(../fonts/Roboto-Black.ttf);
}
h1,
h2 {
    font-family: "Shrikhand";
}
p,
h3,
span {
    font-family: roboto;
}
.flexCentre{
    display: flex;
    justify-content: center;
    align-items: center
}
.flexBetween{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* telephone */
body {
    margin: 0;
}
/* header */
.logo {
    box-shadow: 1px black;
}
.logo img {
    width: 50%;
    height: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}
.HeaderIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75%;
    height: auto;
    background-color: #eaeaea;
    padding-left: 25%;
}
.HeaderIcon p {
     margin-left: 8%;
}
.titreLegende {
    background-color: #f6f6f6;
}
.titreLegende h1 {
    padding: 10% 10% 5% 10%;
    text-align: center;
    margin: 0;
}
.titreLegende p {
    margin: 0;
    padding: 0 10% 8% 10%;
    text-align: center;
}
.legendeBouton {
    padding-bottom: 10%;
}
.legendeBouton p {
    background: linear-gradient(to bottom right, #FF79DA ,#9356DC  );
    border-radius: 30px;
    padding: 4%;
    color: white;
}
/* main */
.tuto {
    padding: 2rem 1rem;
}
.container {
    max-width: 1280px;
    margin: auto;
    position: relative; 
}
.tuto_title {
    margin-top: 0;
}
.tuto_steps {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: compteListe;
}
.tuto_icon {
    margin-right: 1rem;
    color: #7e7e7e;
}
.tuto_step {
    padding: 1.5rem;
    margin: 1rem 0 1rem .75rem;
    margin-top: 1rem;
    box-shadow: .25rem .25rem .5rem rgba(0,0,0,.125);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    position: relative;
}
.tuto_step::before {
    counter-increment: compteListe 1;
    content: counter(compteListe) " ";
    background: #9356dc;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: -.75rem;
}
.tuto_step:first-child {
    margin-top: 0;
  }
  .tuto_step:last-child {
    margin-bottom: 0;
  }
/* section */
.restaurants {
    background-color: #f6f6f6;
    padding: 2rem 1rem;
}
.card {
    width: 100%;
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;
}
.card_img {
    height: 12rem;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
}
.card_badge {
    background-color: #99e2d0;
    color: #1b6150;
    padding: .5rem;
    border-radius: .125rem;
    position: absolute;
    top: 1rem;
    right: .75rem;
}
.card_content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
  }
.card_title {
    margin: 0 0 .25rem;
    padding-right: 8rem;
}
.card_subtitle {
    margin: 0;
}
.heart {
    color: transparent;
    background-image: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    height: 2rem;
    width: 2rem;
}
:hover .fa-regular {
    display: none;
}
:hover .fa-solid {
    display: block;
}
.fa-solid {
    display: none;
    width: 100%;
    height: 100%;
}
.fa-regular {
    display: block;
    width: 100%;
    height: 100%;
}
.card_footer {
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
}
/* footer */
.footer {
    background-color: #353535;
}
.footer .container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.footer_logo {
    color: #fff;
    font-family: "Shrikhand-Regular" !important;
    font-size: 1.2rem;
    margin: 0 0 1rem;
}
.footer_list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer_listElt {
    margin: .5rem 0;
      margin-top: 0.5rem;
}
.footer_link {
    color: #fff;
    text-decoration: none;
}
.footer_link:hover {
    text-decoration: underline;
}
.footer_icon {
    width: 1.2rem;
    margin-right: .5rem;
  }
.footer_listElt:first-child {
    margin-top: 0;
}
.footer_listElt:last-child {
    margin-bottom: 0;
}  